# MONGODB_URI=mongodb+srv://SamuelMaina:Hannah001@cluster0.y214nvo.mongodb.net/tlearn?appName=Cluster0
# MONGODB_URI_UPGRADED=mongodb+srv://SamuelMaina:Hannah001@tlearn-upgraded.5n1y8cs.mongodb.net/?appName=Tlearn-Upgraded